* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.login-page {
  background-image: url('./assets/bg.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-card .form-control {
  border: none;
  border-bottom: 1px solid rgb(146, 140, 140);
  border-radius: 0;
  background-color: transparent;
  color: white;
  transition: border-bottom 0.3s;
}

.form-card .form-control:focus {
  box-shadow: none;
  border-color: rgb(146, 140, 140);
}

.form-card {
  height: 600px;
}

.btn-sub {
  background-color: #494C4F !important;
}

.col-2 {
  width: 25%;
  background-image: url('./assets/bg.jpeg');
  padding: 20px;
  height: 100vh;
}

.col-10 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: white;
  color: #fff;
  padding: 10px;
}

.dflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-container {
  width: calc(25% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-title,
.card-text {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nvb {
  margin-left: 16.7%;
}

.contenu {
  margin-top: 60px;
  margin-left: 0;
}

.brand-text {
  font-size: 24px;
  margin-bottom: 0; 
}

@media (max-width: 751px) {
  .lead,
  .nav-link span {
    display: none; 
  }

  .fs-5 {
    font-size: 24px; 
    margin-bottom: 0; 
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .fa-bookmark {
    display: inline !important;
  }
  .text-side{
    display: none;
  }


  .brand-text {
    display: none;
  }
}

@media (max-width: 635px) {
  .card-container {
      width: 100%; /* Colonne pleine (col-12) */
  }
}

/* Votre CSS existant ... */

/* Media query pour écrans de 903px à plus */
@media (min-width: 903px) {
  .card-container {
    width: calc(25% - 20px); /* Quatre colonnes (col-3) */
  }
}


.text{
  font-size: 14px;
}


.cardds{
  margin-top: 15%;
width: 100%
}

.bg-violet-400 {
  background-color:  #7f5af0;
}
.bg-teal-500 {
  background-color:  #14b8a6;
}
.bg-yellow-400 {
  background-color:  #f6e05e;
}
.bg-red-600 {
  background-color:  #e53e3e;
}
.bg-fuchsia-700 {
  background-color:  #9333ea;
}
.bg-blue-700 {
  background-color:  #4299e1;
}

.text-dark.text-opacity-60.text-base {
  color: #000;
  opacity: 0.6;
  font-size: 1.125rem;
}

.text-dark.text-3xl.font-light {
  color: #000;
  font-size: 1.875rem;
  font-weight: 300;
}

.text-dark.text-base.font-light.ms-2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  margin-left: 0.5rem;
}
